.header-wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 10px 20px 0px;
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}
.chat-body {
  background-image: url("../images/chatBg.png");
  width: 100%;
  padding-top: 120px;
  height: 10000px;
}
.chat__write-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
}
.chat__write {
  font-size: 14px;
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  border: none;
  padding: 15px 40px;
  transition: width 0.5s ease-in, transform 0.5s ease-in,
    border-radius 0.5s ease-in, box-shadow 0.5s ease-in;
}
.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-100px);
  border-radius: 30px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  animation: float 2s linear infinite forwards;
}
@keyframes float {
  0% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 30px 60px -24px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}
.chat__write:focus ~ .chat__icon {
  opacity: 0;
}
.chat__icon {
  font-size: 20px;
  transition: opacity 0.2s ease-in-out;
}
.chat__icon-left {
  position: absolute;
  left: 5px;
}
.chat__icon-right {
  position: absolute;
  right: 5px;
}

.chat-screen .chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px 0px;
}
.chat-screen .chat__timestamp {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 20px;
}
.chat-screen .message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}
@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}
.chat__incoming-message img {
  width: 30px;
  border-radius: 50%;
  margin-right: 15px;
  animation: spin 1s ease-in infinite;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}
.message .message__bubble {
  display: block;
  padding: 5px 15px 7px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}
.chat__incoming-message .message__bubble {
  border-top-left-radius: 0;
  color: white;
  background-image: linear-gradient(to right, #654ea3, #eaafc8);
}
.chat__outgoing-message .message__bubble {
  border-top-right-radius: 0;
  color: white;
  background-image: linear-gradient(to left, #fffde4, #005aa7);
}
.chat__incoming-message {
  align-self: flex-start;
}
.chat__outgoing-message {
  align-self: flex-end;
}
.message .message__author {
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
}
.message .message__timestamp {
  align-self: flex-end;
  font-size: 12px;
}
@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.chat__incoming-message .message__bubble {
  animation: incomingAnim 0.7s ease-out forwards;
}
@keyframes outgoingAnim {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.chat__outgoing-message .message__bubble {
  animation: outgoingAnim 0.7s ease-out forwards;
}
